@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #212121;
    background-color: #f6f6f6;
}

/* DataTable.css */
.table-container {
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
}

.table-container.loading {
    opacity: 0;
}



